---
layout: page
title: OneWorld Covid-19 Special Collection
---

MOCA has launched the OneWorld COVID-19 Collection that seeks to document and share the stories of Chinese Americans and the Chinese diaspora resisting coronavirus-fueled hate with incredible acts of compassion and generosity. This collection will not only feature stories of community efforts but also highlight experiences of individuals and families during these unprecedented times. 
We welcome you to send us a write-up, photos, videos, audio, emails, texts and any other materials to oneworld@mocanyc.org to share a story that you believe should be recorded. Help us continue to tell the stories of these extraordinary individuals and community groups.⁣⁣⁣⁣⁣⁣

<!-- post list -->
{% for post in paginator.oneworld %}
<li><a href="{{post.url | prepend: site.baseurl}}"><h3>{{post.title}}</h3></a></li>
{% endfor %}

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
